.main-container {
    background-color: #161b22;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    border: 1px solid #21262d;
    margin-top: 50px;
}

.logo-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.main-container h1 {
    margin: 0;
    color: #f0f6fc;
    font-size: 24px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    width: 48%;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #c9d1d9;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #21262d;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #0d1117;
    color: #c9d1d9;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #58a6ff;
    outline: none;
}

.error-message {
    color: #f85149;
    margin-top: 10px;
    font-size: 14px;
}

.change-password {
    margin-top: 10px;
}

.change-password a {
    color: #58a6ff;
    text-decoration: none;
    font-size: 14px;
}

.change-password a:hover {
    text-decoration: underline;
}

.modal-button {
    background-color: #238636;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.modal-button:hover {
    background-color: #2ea043;
}

.required {
    color: #f85149;
    margin-left: 5px;
}

.modal {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: fadeIn;
    animation-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #161b22;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    border: 1px solid #21262d;
    animation-name: slideIn;
    animation-duration: 0.3s;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #6e7681;
    text-decoration: none;
    cursor: pointer;
}

.success-image {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 20px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(-50px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes slideOut {
    from {transform: translateY(0); opacity: 1;}
    to {transform: translateY(-50px); opacity: 0;}
}