<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Управление связями аварий и транспортных средств</title>
  <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/edit-tables.css}">
  <link rel="stylesheet" th:href="@{/css/body.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>
<div class="container">
  <div class="header-with-sort">
    <h2>Список связей аварий и транспортных средств</h2>
    <form class="sort-form">
      <input type="text" id="searchQuery" placeholder="Введите текст для поиска">
      <button type="button" onclick="filterData()">Фильтровать</button>
    </form>
  </div>
  <div class="table-container">
    <table id="dataTable" class="table-wrapper">
      <thead>
      <tr>
        <th>Идентификатор аварии</th>
        <th>Регистрационный номер транспортного средства</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="composition : ${accidentCompositions}" th:id="'composition-' + ${composition.accidentId} + '-' + ${composition.registrationNumber}">
        <td>
          <a th:href="@{/accidents(accidentId=${composition.accidentId})}" class="hidden-redirect-button">
            <span th:text="${composition.accidentId}"></span>
          </a>
        </td>
        <td>
          <a th:href="@{/vehicles(registrationNumber=${composition.registrationNumber})}" class="hidden-redirect-button">
            <span th:text="${composition.registrationNumber}"></span>
          </a>
        </td>
        <td>
          <form th:action="@{/accident-composition/delete}" method="post" style="display: inline;">
            <input type="hidden" name="accidentId" th:value="${composition.accidentId}">
            <input type="hidden" name="registrationNumber" th:value="${composition.registrationNumber}">
            <button type="submit" class="delete-button">
              <img th:src="@{/images/delete.png}" alt="Delete" class="delete-icon">
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="button-container">
    <button onclick="showAddCompositionForm()">Добавить связь</button>
    <a href="/accident-compositions">Обновить данные</a>
  </div>

  <div id="editModal" class="modal modal-none-display">
    <div id="editModalContent" class="modal-content main-container">
      <span onclick="hideEditModal()" class="close">&times;</span>
      <h3 id="modalTitle">Добавить новую связь</h3>
      <form id="editForm" method="post">
        <div class="form-row">
          <div class="form-group">
            <label for="accidentId">Идентификатор аварии:<span class="required">*</span></label>
            <input type="text" maxlength="36" id="accidentId" name="accidentId" required>
          </div>
          <div class="form-group">
            <label for="registrationNumber">Регистрационный номер ТС:<span class="required">*</span></label>
            <input type="text" maxlength="9" id="registrationNumber" name="registrationNumber" required>
          </div>
        </div>
        <div class="button-row">
          <button class="modal-button" type="submit">Сохранить</button>
          <button type="button" onclick="hideEditModal()" class="modal-button">Отмена</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div th:insert="~{info-modal :: infoModal}"></div>

<script th:src="@{/js/accident-compositions.js}"></script>
<script th:src="@{/js/edit-tables.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
</body>
</html>