<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Забыли пароль</title>
  <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/forgot-password.css}">
  <link rel="stylesheet" th:href="@{/css/body.css}">
</head>
<body>
<div class="forgot-container">
  <div class="logo-container">
    <img th:src="@{/images/logo.png}" alt="Логотип" class="logo">
  </div>
  <h1>Забыли пароль</h1>
  <form method="post" th:action="${action}">
    <div class="form-group">
      <label for="phone">Телефон:<span class="required">*</span></label>
      <input type="text" maxlength="11" id="phone" name="phone" required>
    </div>
    <div class="form-group">
      <button type="submit">Запросить сброс пароля</button>
    </div>
  </form>
  <div th:if="${error}" th:text="${error}" class="error-message">
    Текст ошибки
  </div>
  <div class="back-link">
    <a th:href="${backLink}" th:text="${linkText}">Текст ссылки</a>
  </div>
</div>
</body>
</html>