<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Забыли пароль</title>
  <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/forgot-password-success.css}">
  <link rel="stylesheet" th:href="@{/css/body.css}">
</head>
<body>
<div class="forgot-success-container">
  <div class="logo-container">
    <img th:src="@{/images/logo.png}" alt="Логотип" class="logo">
  </div>
  <h1>Забыли пароль</h1>
  <div class="success-message">
    Запрос на сброс пароля успешно отправлен. Пожалуйста, проверьте ваш телефон для дальнейших инструкций.
  </div>
  <div class="back-link">
    <a th:href="${backLink}" th:text="${linkText}">Текст ссылки</a>
  </div>
</div>
</body>
</html>