<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Навигационный бар</title>
</head>
<body>
<nav class="navbar" th:fragment="navbar">
  <div class="navbar-left">
    <img th:src="@{/images/logo.png}" alt="Логотип" class="logo">
    <a href="/">Главная</a>
    <a href="/clients">Клиенты</a>
    <a href="/driving-licenses">Права</a>
    <a href="/driving-license-categories">Категории прав</a>
    <a href="/vehicles">Транспортные средства</a>
    <a href="/accidents">ДТП</a>
    <a href="/accident-compositions">Составы ДТП</a>
    <a href="/fines">Штрафы</a>
  </div>
  <div class="navbar-right">
    <a href="/profile" th:text="'Профиль (' + ${currentClient.role} + ')'">Профиль</a>
    <a href="/logout">Выйти</a>
  </div>
</nav>
</body>
</html>