<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/reset-password-success.css}">
</head>
<body>
<div class="reset-success-container">
    <div class="logo-container">
        <img th:src="@{/images/logo.png}" alt="Логотип" class="logo">
    </div>
    <h1>Сброс пароля</h1>
    <div class="success-message">
        Сброс пароля выполнен успешно. Перейдите на страницу логина и войдите с новым паролем.
    </div>
    <div class="back-link">
        <a href="/login">Войти</a>
    </div>
</div>
</body>
</html>