<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Сброс пароля</title>
  <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/reset-password.css}">
  <link rel="stylesheet" th:href="@{/css/body.css}">
</head>
<body>
<div class="reset-container">
  <div class="logo-container">
    <img th:src="@{/images/logo.png}" alt="Логотип" class="logo">
  </div>
  <h1>Сброс пароля</h1>
  <form method="post" th:action="${action}">
    <input type="hidden" name="token" th:value="${param.token}">
    <div class="form-group">
      <label for="newPassword">Новый пароль:<span class="required">*</span></label>
      <input type="password" maxlength="60" id="newPassword" name="newPassword" required>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Подтвердите пароль:<span class="required">*</span></label>
      <input type="password" maxlength="60" id="confirmPassword" name="confirmPassword" required>
    </div>
    <div class="form-group">
      <button class="reset-button" type="submit">Сбросить пароль</button>
    </div>
  </form>
  <div th:if="${error}" th:text="${error}" class="error-message">
    Текст ошибки
  </div>
  <div class="back-link">
    <a th:href="${backLink}" th:text="${linkText}">Текст ссылки</a>
  </div>
</div>
</body>
</html>